<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/eleccion.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="lista">
            <li class="objeto"><a href="" class="link">Flitrar</a></li>
            <li class="objeto"><a href="" class="link">Ingresar historia clinica</a></li>
            <li class="objeto"><a href="" class="link">Contactos</a></li>
        </nav>
        <%datos.forEach( function (datos) {%>
            <a href="/cerrar" class="cerrar"><%=datos.nombre%> <%=datos.apellido%></a>
        <%})%>
    </header>

    <div class="contenedor">
        <h2>Consuta historias clinicas</h2>
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2014/07/06/09/46/microscope-385364__340.jpg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                
            </div>
            <div class="card-acciones">
                        <form action="/consultar" method="post">
                            <%datos.forEach( function (datos) {%>
                            <input class="oculto" value="<%=datos.id_doctor%>" type="text" name="doc">
                            <%})%>
                        <button type="submit" class="botones agrandar">Consultar</button>
                    </form> 
            </div>
        </div>

    </div>
    <div class="contenedor">
        <h2>Ingresar historia clinica&nbsp &nbsp</h2>
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2014/07/06/09/46/microscope-385364__340.jpg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                
            </div>
            <div class="card-acciones">
                        <form action="/ingresar" method="post">
                            <%datos.forEach( function (datos) {%>
                            <input class="oculto" value="<%=datos.id_doctor%>" type="text" name="doc">
                            <%})%>
                            <button type="submit" class="botones agrandar">Ingresar</button>
                        </form>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>