<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/eleccion.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="lista">
            <li class="objeto"><a href="/iniciasesion" class="link">Flitrar</a></li>
            <li class="objeto"><a href="" class="link">Ingresar historia clinica</a></li>
            <li class="objeto"><a href="" class="link">Contactos</a></li>
        </nav>
    </header>

    <div class="contenedor">
        <h2>Consuta historias clinicas</h2>
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2014/07/06/09/46/microscope-385364__340.jpg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                
            </div>
            <div class="card-acciones">
                <button class="botones agrandar">
                    <span class="fas fa-envelope">
                        <a href="#">consultar</a> 
                    </span>
                </button>
            </div>
        </div>

    </div>
    <div class="contenedor">
        <h2>Ingresar historia clinica&nbsp &nbsp</h2>
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2014/07/06/09/46/microscope-385364__340.jpg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                
            </div>
            <div class="card-acciones">
                <button   class="botones agrandar">
                    <span class="fas fa-envelope">
                        <a href="#">ingresar</a> 
                    </span>
                </button>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>