<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/carrusel.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="lista">
            <li class="objeto"><a href="" class="link">Login</a></li>
            <li class="objeto"><a href="" class="link">inicio</a></li>
            <li class="objeto"><a href="" class="link">fin</a></li>
        </nav>
    </header>
    <div class="container">
        <ul class="slider">
            <li id="slider1"><img src="https://cdn.nrm.com.mx/cdn/enfoque/2016/styles/imagen__900x470_/storage-field-image/imagenes/contenido/salud-1534795555.jpg" alt=""></li>
            <li id="slider2"><img src="https://onaliat.mx/blog/wp-content/uploads/2018/11/6-carreras-relacionadas-a-la-salud-que-puedes-estudiar.jpg" alt=""></li>
            <li id="slider3"><img src="https://capitalhumano.emol.com/wp-content/uploads/2017/10/salud-mental-enfermedades-t.jpg" alt=""></li>
        </ul>
        <ul class="menu">
            <li><a href="#slider1">1</a></li>
            <li><a href="#slider2">2</a></li>
            <li><a href="#slider3">3</a></li>
        </ul>

    </div>
</body>
</html>