<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="lista">
            <li class="objeto"><a href="/iniciasesion" class="link">Login</a></li>
            <li class="objeto"><a href="" class="link">Quienes somos</a></li>
            <li class="objeto"><a href="" class="link">Contactos</a></li>
        </nav>
    </header>
    <h1>Lorem ipsum dolor sit amet.</h1>

    <div class="container">
        <ul class="slider">
            <li id="slider1"><img src="https://cdn.nrm.com.mx/cdn/enfoque/2016/styles/imagen__900x470_/storage-field-image/imagenes/contenido/salud-1534795555.jpg" alt=""></li>
            <li id="slider2"><img src="https://onaliat.mx/blog/wp-content/uploads/2018/11/6-carreras-relacionadas-a-la-salud-que-puedes-estudiar.jpg" alt=""></li>
            <li id="slider3"><img src="https://capitalhumano.emol.com/wp-content/uploads/2017/10/salud-mental-enfermedades-t.jpg" alt=""></li>
        </ul>
        <ul class="menu">
            <li><a href="#slider1">1</a></li>
            <li><a href="#slider2">2</a></li>
            <li><a href="#slider3">3</a></li>
        </ul>
    </div>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <div class="contenedor">
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2014/07/06/09/46/microscope-385364__340.jpg" alt="">
            </div>
            <div class="card-icono">
                <li class="agrandar"><a href=""><lable class="fa fa-phone"></lable></a></li>
                <li class="agrandar"><a href=""><lable class="fa fa-address-book"></lable></a></li>
                <li class="agrandar"><a href=""><lable class="fab fa-whatsapp"></lable></a></li>
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                
            </div>
            <div class="card-acciones">
                <button class="botones agrandar">
                    <span class="fas fa-envelope">
                        agendar cita
                    </span>
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2014/10/27/15/13/nutrient-additives-505124__340.jpg" alt="">
            </div>
            <div class="card-icono">
                <li class="agrandar"><a href=""><lable class="fa fa-phone"></lable></a></li>
                <li class="agrandar"><a href=""><lable class="fa fa-address-book"></lable></a></li>
                <li class="agrandar"><a href=""><lable class="fab fa-whatsapp"></lable></a></li>
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                
            </div>
            <div class="card-acciones">
                <button class="botones agrandar">
                    <span class="fas fa-envelope">
                        agendar cita
                    </span>
                </button>
            </div>
        </div>     
        <div class="card">
            <div class="card-encabezado">
                <img src="https://cdn.pixabay.com/photo/2020/11/03/15/31/doctor-5710150__340.jpg" alt="">
            </div>
            <div class="card-icono">
                <li class="agrandar"><a href=""><lable class="fa fa-phone"></lable></a></li>
                <li class="agrandar"><a href=""><lable class="fa fa-address-book"></lable></a></li>
                <li class="agrandar"><a href=""><lable class="fab fa-whatsapp"></lable></a></li>
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">Lorem ipsum dolor sit amet.</div>
                <div class="info-personal desplazar">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="card-acciones">
                <button class="botones agrandar">
                    <span class="fas fa-envelope">
                        agendar cita
                    </span>
                </button>
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis quaerat delectus quia! Magni, facere? Fugit exercitationem vitae dignissimos illum ad animi aut asperiores minima! Perferendis culpa rem dignissimos iste?</p>
<footer>

</footer>
</body>
</html>