<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Document</title>
</head>
<body>

    <header>
        <nav class="lista">
            <li class="objeto"><a href="/iniciasesion" class="link">Login</a></li>
            <li class="objeto"><a href="" class="link">Quienes somos</a></li>
            <li class="objeto"><a href="" class="link">Contactos</a></li>
        </nav>
    </header>

      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Log in with</h1>
            <form class="inputs-container" action="/validar" method="post">
                <input class="input" type="text" placeholder="Username" name="documento">
                <input class="input" type="password" placeholder="Password" name="password">
                <p>Forgot password? <span class="span">Click here.</span></p>
                <button class="btn">login</button>
            </form>
          </div>
          
            <img class="image-container" src="https://www.saludiario.com/wp-content/uploads/2016/02/shutterstock_306018914.jpg" alt="">
      </div>
</body>
</html>