body {
    height: 100vh;
    background-image: linear-gradient(to top, #fcfcfc 0%, #5cbcec 100%);
}


nav{
    height: 55px;
    background-color:#5CBCEC    ;

}

.link{  
    text-align: center;
    padding-top: 15px;
    display: inline-flex;
    width: 60px;
    height: 40px;
    margin-right: 1px;
    color: black;
    font-size: 15px;
    padding-left: 10px;
}

.objeto{
    display: inline;
    padding-top: 20px;
    text-align: center;

}


.objeto :hover{
    color: black;
    background: -prefix-linear-gradient(top, #5CBCEC , white);
    background: linear-gradient(to bottom, #5CBCEC , white);     height: 45px;
    border-bottom: black 1px solid;

}
.resu{
    height: 15em;
    width: 40em;
    margin: 6em auto;
    border-radius: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.val-dat{
    display: block;
    height: 30px;
    margin-left: 10px;
    padding-left: 20px;
    border: none;
    border-bottom: solid 1px black;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    background: none;
}

.btn{
    background: none;
}