body {
    height: 100vh;
    background-image: linear-gradient(to top, #fcfcfc 0%, #5cbcec 100%);
}


nav{
    height: 55px;
    background-color:#5CBCEC    ;

}

.link{  
    text-align: center;
    padding-top: 15px;
    display: inline-flex;
    width: 60px;
    height: 40px;
    margin-right: 1px;
    color: black;
    font-size: 15px;
    padding-left: 10px;
}

.objeto{
    display: inline;
    padding-top: 20px;
    text-align: center;

}


.objeto :hover{
    color: black;
    background: -prefix-linear-gradient(top, #5CBCEC , white);
    background: linear-gradient(to bottom, #5CBCEC , white);     height: 45px;
    border-bottom: black 1px solid;

}

form{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(#5cbcec6c, #fcfcfc81);
}

label{
    margin-top:15px;
    display: block;
    font-weight: bold;
}

h2{
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: center;
}


.btn{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-subir{
    margin-top: 15px;
    margin-bottom: 15px;
}